<ion-header>
  <ion-toolbar>
    <ion-title>COVID-19/Point du jour ...</ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content fullscreen>
          <ion-list>
            <ion-list-header color="light">
              <h2 color="warning">A LA UNE</h2>
            </ion-list-header>
        
            <ion-card>
              <img src="assets/images/covid-19.jpg" />
              <ion-card-header>
                <ion-card-subtitle color="warning">A LA UNE • Actualité • Dakar • santé • societe</ion-card-subtitle>
                <ion-card-title>COVID-19/Point du jour : 8 nouvelles contaminations dont 2 cas communautaire et 5 patients guéris</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  Le ministère de la Santé et de l’Action sociale, a annoncé, ce mardi 14 avril, 8 nouvelles contaminations au coronavirus, portant à 299 le nombre de cas déclarés positifs au Sénégal depuis le 2 février.
  
                  Faisant le point de situation de la pandémie, la directrice de la santé Marie Khémés Ngom Ndiaye, a indiqué que sur 272 tests réalisés, 8 sont déclarés positifs
                  Il s’agit de 6 cas contacts suivis et 2 cas issu de la transmission communautaire.
                  Cinq patients hospitalisés ont été contrôlés négatifs, donc déclarés guéris.
                  A ce jour, 299 cas ont été déclarés positifs au Sénégal depuis le 2 mars. Dans ce lot, 183 patients sont guéris et 113 sont encore sous traitement, 2 décès et 1 évacué.
              </ion-card-content>
            </ion-card>
            </ion-list>
  
  </ion-content>
  
